<nav class="navbar">
  <a href="/"><h1>My Inventories</h1></a>
  <div class="links">
    <a href="/addInventory">New Inventory</a>
    <a class="new-item-link" href="/user/logout">Logout</a>
  </div>
</nav>
